body {
  background-image: url(/src/assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  /* Optional */
  display: flex;
  justify-content: center;
  min-height: 60vh;
  align-items: center;
}

.clock-container {
  backdrop-filter: blur(5px);
  /* width: vw; */
}
.clock {
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
}
